[package]
name = "create-o7-app"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.69"
crossterm = "0.26.0"
human-repr = "1.0.1"
inquire = "0.5.3"
pathdiff = "0.2.1"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
which = "4.4.0"

[build-dependencies]
template_builder = { path = "./template_builder" }
